@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Dancing+Script:wght@400;500;600;700&family=Great+Vibes&family=Montserrat+Alternates&family=Tangerine:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  background: linear-gradient(#e5dbea 60%, #f3f2f3, #f9f9f9);
}

.header {
  min-height: 100px;
  height: 10dvh;
  width: 100%;
  min-width: fit-content;
  background-color: #c9a0c1;
  height: 12dvh;
}

.main {
  width: 100%;
  /* background: linear-gradient(#e5dbea 60%, #f3f2f3, #f9f9f9); */
}

.footer {
  background-color: #ac8fbe;
}

.contaiter {
  margin: 0 auto;
  width: 100%;
  min-width: fit-content;
}

.header .contaiter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: max-content;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  line-height: 50px;
  font-size: 4vh;
}

.nav-item a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.5s;
  margin-right: 20px;
}

.nav-item a:hover {
  color: #8ae2f8;
}

#task {
  color: #010101;
}

.break {
  width: 100%;
  height: 10px;
  background-color: rgb(234, 236, 171);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#cover {
  width: 100%;
  height: 100dvh;
  background-image: url("polytech/img/fl5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#cover h1 {
  line-height: 0%;
  font-size: 10em;
  padding-right: 5%;
  padding-top: 8%;
  font-family: "Great Vibes", cursive;
  /* color: rgb(233, 177, 104); */
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
  transition: color 1s;
}

#cover h1:hover {
  color: black;
}

#cover h2 {
  /* position: relative;
  left: 60%; */
  width: 500px;
  padding-right: 5%;
  font-family: "Comfortaa", sans-serif;
  font-size: 30px;
  text-align: right;
  color: #642256;
}

#info {
  min-height: 800px;
  background-color: #f3f2f3;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Comfortaa", sans-serif;
}

.card {
  background-color: white;
  height: 70%;
  width: 70%;
  box-shadow: 33px 53px 0px 0px rgb(234, 236, 171) inset;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card img {
  margin-top: 5%;
  margin-right: 3%;
  height: 80%;
  width: 40%;
}

.card div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 90%;
}
.card div p {
  margin-left: 20%;
  font-size: 2em;
  text-align: center;
}

#flower {
  min-height: fit-content;
  background-color: #d8c1d1;
  width: 100%;
  height: 150dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#flower h2 {
  font-size: 50px;
  font-family: "Montserrat Alternates", sans-serif;
  padding-bottom: 2%;
  color: rgb(94, 43, 100);
}

.gallery {
  height: 70%;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}

.gallery div {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0;
  font-size: 20px;
  font-family: "Comfortaa", sans-serif;
}

.gallery-container {
  height: 50%;
  margin: 20px;
  overflow: hidden;
  border: 1px solid white;
}

.gallery-container img {
  height: 100%;

  transition: 1s;
  display: block;
}

.gallery-container img:hover {
  transform: scale(1.2);
}

#usl {
  background-color: rgb(234, 236, 171);
  width: 50%;
  height: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 20px;
}

.radio-container {
  width: 100%;
}

label {
  width: 100%;
  height: 100%;

  cursor: pointer;
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.text {
  height: 100%;
  font-family: "Comfortaa", sans-serif;
  line-height: 150%;
  padding: 5px;
  color: #9c6e92;
}

.text:hover {
  color: #ba94b2;
}

input {
  display: none;
}

.hidden {
  height: 0px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  font-family: "Comfortaa", sans-serif;
  font-size: 20px;
  transition: 0.5s;
}

.hidden p {
  font-size: 0;
  transition: 0.5s;
}

input:checked + label .hidden {
  min-height: fit-content;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:checked + label .hidden p {
  font-size: 20px;
  margin: 0;
}

hr {
  display: none;
}

#contacts {
  height: 100dvh;
  width: 100%;
  min-height: fit-content;
  background-color: #d8c1d1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.contacts-card {
  min-height: fit-content;
  min-width: min-content;
  border: 1px solid red;
  background-color: white;
  width: 70%;
  height: 70%;
  box-shadow: -33px -53px 0px 0px rgb(234, 236, 171) inset;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.shop img {
  height: 50vh;
  padding-left: 20px;
  padding-top: 40px;
}

.contacts-text {
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 4vh;
  font-family: "Comfortaa", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.knop {
  width: 40vh;
  height: 10vh;
  background-color: #642256;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vh;
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
  border-radius: 0.6em;
  transition: 0.2s;
  cursor: pointer;
}

.knop:hover {
  background-color: #c0b0bc;
  color: #010101;
  font-size: 5.5vh;
}

.span {
}

.footer {
  height: 10dvh;
  background-color: #979797;
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  color: #ffffff;
}

.logo {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  margin-left: 20px;
  position: relative;
}

.osnova {
  position: absolute;
  left: 30%;
  top: 30%;
  width: 40%;
  height: 30%;

  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  background: rgb(255, 255, 255);
}

.left {
  position: absolute;
  left: 29%;
  bottom: 60%;
  width: 0;
  height: 0;
  border-bottom: 30px solid rgb(255, 255, 255);
  border-right: 30px solid transparent;
  z-index: 10;
  transform: rotate(-10deg);
}

.right {
  position: absolute;
  left: 42%;
  bottom: 60%;
  width: 0;
  height: 0;
  border-bottom: 30px solid rgb(255, 255, 255);
  border-left: 30px solid transparent;
  z-index: 10;
  transform: rotate(10deg);
}

.center {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 60%;
  left: 40%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 30px solid white;
}

.stebel {
  position: absolute;
  width: 6%;
  height: 30%;
  background-color: white;
  bottom: 10%;
  left: 47%;
}

.list {
  position: absolute;
  width: 60%;
  height: 40%;
  border-radius: 50%;
  box-shadow: -4px 4px 0px 0px white;
  bottom: 30%;
  left: 20%;
}

.dot {
  position: absolute;
  width: 5%;
  height: 5%;
  border-radius: 50%;
  bottom: 35%;
  left: 60%;
  background-color: white;
}
