.background {
  width: 10em;
  height: 10em;
  max-width: 200px;
  max-height: 200px;
  border: 1px solid black;
  position: relative;
}

.box {
  background: #ef7422;
  width: 36%;
  height: 26%;
  border-radius: 5px;
  position: absolute;
  top: 70%;
  left: 32%;
  z-index: 2;
}

.box-bottom {
  position: absolute;
  background: #ca5e17;
  width: 40%;
  height: 4%;
  top: 94%;
  left: 30%;
  border-radius: 5px;
  z-index: 3;
}

.triangle-container {
  position: absolute;
  width: 80%;
  height: 30%;
  z-index: 2;
  top: 45%;
  left: 10%;
  display: flex;
  justify-content: space-between;
}

.triangle {
  bottom: 20%;
  border: 8px solid transparent;
  border-bottom: 12px solid #84431a;
}

.line-container {
  position: absolute;
  width: 60%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 20%;
  top: 10%;
  padding: 1px;
}

.line {
  width: 100%;
  height: 12%;
  background: #9d5221;
  border-radius: 5px;
}

.dog {
  /*   background: pink; */
  width: 70%;
  height: 70%;
  top: 0%;
  left: 15%;
  position: relative;
}

.left-paw {
  background: radial-gradient(
    circle farthest-side at 0.3em 0.3em,
    #d0af85,
    #745835
  );
  width: 15%;
  height: 10%;
  position: absolute;
  top: 92%;
  left: 30%;
  border-radius: 0.5em 0.5em 0 0;
  z-index: 1;
}

.right-paw {
  background: radial-gradient(
    circle farthest-side at 0.3em 0.3em,
    #d0af85,
    #745835
  );
  width: 15%;
  height: 10%;
  position: absolute;
  top: 92%;
  left: 56%;
  border-radius: 0.5em 0.5em 0 0;
  z-index: 1;
}

.left-leg {
  background: radial-gradient(
    circle farthest-side at 0.1em 0.8em,
    #c09c6f,
    #745835
  );
  width: 10%;
  height: 30%;
  position: absolute;
  top: 70%;
  left: 34%;
  border-radius: 1em;
  transform: rotate(8deg);
  z-index: 0;
}

.right-leg {
  background: radial-gradient(
    circle farthest-side at 0.1em 0.8em,
    #c09c6f,
    #745835
  );
  width: 10%;
  height: 30%;
  position: absolute;
  top: 70%;
  left: 57%;
  border-radius: 1em;
  transform: rotate(-8deg);
  z-index: 0;
}

.body {
  background: #745835;
  width: 50%;
  height: 30%;
  position: absolute;
  top: 45%;
  left: 25%;
  border-radius: 50em/30em;
  z-index: 3;
}

.tail {
  position: absolute;
  width: 25%;
  height: 25%;
  border-radius: 70%;
  box-shadow: 0.2em 0.6em 0 0 #745835;
  transform: rotate(-40deg);
  top: 30%;
  left: 60%;
  z-index: 1;
}

.head {
  background: #745835;
  width: 25%;
  height: 35%;
  position: absolute;
  top: 20%;
  left: 20%;
  border-radius: 25em/35em;
  z-index: 2;
}

.nose {
  background: radial-gradient(
    circle farthest-side at 0.1em 0.8em,
    #c09c6f,
    #745835
  );
  width: 30%;
  height: 20%;
  position: absolute;
  top: 30%;
  border-radius: 0.5em;
  z-index: 5;
  transform: rotate(-10deg);
}

.ear {
  background: radial-gradient(
    circle farthest-side at 0.4em 0.8em,
    #dab88d,
    #8d6635
  );
  width: 20%;
  height: 30%;
  position: absolute;
  top: 23%;
  left: 27%;
  border-radius: 20em/30em;
  /*   border: 0.001em solid #c8a271; */
  z-index: 5;
}

.nose-bup {
  background: #614624;
  width: 8%;
  height: 8%;
  position: absolute;
  top: 30%;
  left: -3%;
  border-radius: 5em/5em;
  z-index: 999;
}

.eye {
  background: #2a1b08;
  width: 6%;
  height: 6%;
  position: absolute;
  top: 27%;
  left: 23%;
  border-radius: 5em/5em;
  z-index: 999;
}
