.logo {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  margin-left: 20px;
  position: relative;
}

.osnova {
  position: absolute;
  left: 30%;
  top: 30%;
  width: 40%;
  height: 30%;

  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  background: rgb(255, 255, 255);
}

.left {
  position: absolute;
  left: 29%;
  bottom: 60%;
  width: 0;
  height: 0;
  border-bottom: 30px solid rgb(255, 255, 255);
  border-right: 30px solid transparent;
  z-index: 10;
  transform: rotate(-10deg);
}

.right {
  position: absolute;
  left: 42%;
  bottom: 60%;
  width: 0;
  height: 0;
  border-bottom: 30px solid rgb(255, 255, 255);
  border-left: 30px solid transparent;
  z-index: 10;
  transform: rotate(10deg);
}

.center {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 60%;
  left: 40%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 30px solid white;
}

.stebel {
  position: absolute;
  width: 6%;
  height: 30%;
  background-color: white;
  bottom: 10%;
  left: 47%;
}

.list {
  position: absolute;
  width: 60%;
  height: 40%;
  border-radius: 50%;
  box-shadow: -4px 4px 0px 0px white;
  bottom: 30%;
  left: 20%;
}

.dot {
  position: absolute;
  width: 5%;
  height: 5%;
  border-radius: 50%;
  bottom: 35%;
  left: 60%;
  background-color: white;
}
