@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Dancing+Script:wght@400;500;600;700&family=Great+Vibes&family=Montserrat+Alternates&family=Tangerine:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}

body {
  /* overflow: hidden; */
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: rgb(82, 74, 74); */
  background-color: rgb(82, 74, 81);
}

.info {
  color: white;
  font-size: calc(2em + 1dvw);
  text-align: center;
}

.info div {
  margin-top: 20px;
}

#start {
  height: 10%;
  width: 20%;
  margin: 1em;
  font-size: calc(16px + 1dvw);
  font-weight: 800;
  border-radius: 10%;
  cursor: pointer;
  background-color: rgb(188, 183, 183);
}

#start:hover {
  background-color: rgb(208, 202, 202);
}

.hidden {
  display: none;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.perfect {
  color: rgb(174, 241, 174);
  font-size: 6dvw;
  position: fixed;
  font-weight: bold;
  display: none;
}

.good {
  color: rgb(221, 230, 146);
  font-size: 6dvw;
  position: fixed;
  font-weight: bold;
  display: none;
}

.bad {
  color: rgb(244, 111, 99);
  font-size: 6dvw;
  position: fixed;
  font-weight: bold;
  display: none;
}

.anim {
  animation: anim 2s;
  display: block;
}

@keyframes anim {
  0% {
    diasplay: block;
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.8, 0.8);
  }
  50% {
    transform: scale(1, 1);
    color: rgb(22, 22, 22);
  }
  75% {
    transform: scale(0.8, 0.8);
  }
  100% {
    display: none;
    transform: scale(1, 1);
  }
}

@media (max-width: 600px) {
  #start {
    height: 10%;
    width: 30%;
    margin: 2em;
  }
}

.score {
  font-size: calc(32px + 1dvw);
  margin-bottom: 10%;
  color: aliceblue;
}

.navigate {
}

.navigate button {
  height: 60px;
  width: 90px;
  margin: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

.blocked {
  cursor: default;
  background-color: rgb(170, 169, 169);
}

.wrap {
  width: 650px;
  height: 300px;
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  position: relative;
  background-image: url("f1.jpg");
  background-size: cover;
  border-radius: 20px;
}

.example {
  width: 200px;
  height: 200px;
  /* border: 1px solid white; */
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-image: url("z1.png");
  background-size: cover;
}

.ej {
  background-image: url("z2.png");
}

.user {
  width: 200px;
  height: 200px;
  /* border: 1px solid white; */
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-image: url("f1.png");
  background-size: cover;
}

.uj {
  background-image: url("f2.png");
}

.jump {
  animation: jump 0.5s;
}

@keyframes jump {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 60px;
  }
  100% {
    bottom: 0px;
  }
}

.timer {
  color: rgb(241, 78, 18);
  font-size: 6dvw;
  position: fixed;
  font-weight: bold;
  display: none;
  top: 0px;
}

.ghost {
  position: fixed;
  top: 35%;
  left: 40%;
  width: 200px;
  height: 200px;
  background-image: url("g1.png");
  background-size: cover;
  transition: all linear;
  animation: lala 5s infinite;
  display: none;
}

@keyframes lala {
  from {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(20deg);
  }
}

.super {
  background-image: url("g5.png");
  transform: rotate(20deg);
}

.green {
  background-image: url("g2.png");
  transform: rotate(20deg);
}

.yellow {
  background-image: url("g3.png");
  transform: rotate(20deg);
}

.red {
  background-image: url("g4.png");
  transform: rotate(20deg);
}
