.background {
  max-width: 200px;
  max-height: 200px;
  width: 10em;
  height: 10em;
  background-image: url("toy1.jpg");
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.opt {
  opacity: 0%;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 10%;
  top: 85%;
  left: 5%;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ecdec8;
}

.background:hover .opt {
  opacity: 100%;
}

.boy-right {
  position: absolute;
  z-index: 2;
  height: 70%;
  width: 40%;
  top: 25%;
  left: -40%;
}

.background:hover .boy-right {
  animation-duration: 0.7s;
  animation-name: run;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes run {
  from {
    left: -40%;
  }
  50% {
    left: 40%;
  }

  75% {
    left: 50%;
  }
  to {
    left: 60%;
  }
}

.background:active .boy-right {
  display: none;
}

.background:active .opt {
  display: none;
}

.boy-left {
  position: absolute;
  z-index: 3;
  height: 70%;
  width: 40%;
  top: 25%;
  left: 60%;
  display: none;
}

.background:active .boy-left {
  display: block;
}

.happy {
  position: absolute;
  z-index: 2;
  height: 70%;
  width: 100%;
  top: 15%;
  left: 10%;
  font-size: 70%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #24fd5e;
  transform: rotate(-20deg);
  display: none;
}

.background:active .happy {
  display: block;
}

.stick {
  position: absolute;
  z-index: 4;
  height: 30%;
  width: 30%;
  top: 40%;
  left: 50%;
  display: none;
}

.vert {
  position: absolute;
  z-index: 5;
  height: 30%;
  width: 30%;
  top: 30%;
  left: 45%;
  display: none;
}

.background:active .stick {
  display: block;
}

.background:active .vert {
  display: block;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(300deg);
  }
}

.background:active {
  filter: sepia(60%);
}
